/* Fira Sans font */
.body {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f5f5f5;
}

   /* Hover-Effect */
   .hover-effect:hover{
    background-color: #ea0a6b;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #1e2420;
    box-shadow: 0px 0px 15px 0px #1e2420;


}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px; 
    /* width: 100%; */
    /* margin-top: 50px; */
}


.nav-title{
  font-size: 32px;
  color: #0E0E0E;  
  transition: all 0.15s;
}
.nav-title:hover{
  color: #d82e2e;
  background-color: rgb(22, 184, 22);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 0px 15px 0px #c30101;
}

.nav-btn{
    /* border-radius: 8px; */
    color: #006A50;
    padding: 15px 30px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.5s;
}

/* Banner styles */

.banner{
  display: flex;
  position: static;
  max-width: 100%;
  gap: 64px;
  margin:32px 160px 0px 160px; 
  background-color: #C6E4D6;
  align-items: center;
  transition: box-shadow 0.5s;
  border-radius: 8px;
}
.banner:hover{
  box-shadow: 0px 0px 15px 0px #d10f30;
}


.banner-content{
  margin: 117px 0px 117px 60px;
  width: 100%;
}

.banner-title{
  font-weight: 500;
  font-size: 24px;
  color: #0e0e0e7c;
  margin-bottom: 16px;
}


.banner-descripton{
  font-size: 50px;
  font-weight: 700;
  color: #0E0E0E;
  margin-bottom: 24px;
  text-align: start;
}


.banner-btn{
  background-color: #006A50;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
}


.banner-img{
 margin: 80px 60px 80px 0px;
 width: 100%;
}
/* Banner completed */

/* styles for Section-1 starting */
.section-1{
  margin: 80px 160px ;
}

.section-1 h1{
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 32px;
}

.s1-container{
  display: flex;
  gap: 24px;

}

.s1-content{
  background-color: #FFFFFF;
  text-align: start;
  padding: 24px;
  border-radius: 16px;
}

.s1-content img{
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.s1-content h2{
  font-size: 20px;
  color: #1F0E0E;
  margin-bottom: 12px;
}

.s1-content p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
}

/* styles for Section-2 */
.section-2{
  margin: 0px 160px 80px 160px;
  text-align: start;
  /* padding: 10px; */
}

.section-2> h1{
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
}

.section-2>p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 32px;

}

.s2-container{     /* parent Div of section-2 */
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.s2-content-1{      /* Div -1 */
  padding: 32px;
  background-color: #548ff560;
  border-radius: 16px;

}
.s2-content-2{      /* Div -2 */
  padding: 32px;
  background-color: #C6E4D6;
  border-radius: 16px;

}
.s2-content-3{      /* Div -3 */
  padding: 32px;
  background-color: #F7EBCF;
  border-radius: 16px;
}

/* Button styles for Div of section-2 */
.div-1-btn{
  background-color: #5490F5;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
}

.div-2-btn{
  background-color: #09A15C;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
}

.div-3-btn{
  background-color: #FFC239;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
}

/* hover effect for section-2 buttons 
   with box shadow */
   .s2-btn-hover:hover{
    box-shadow: 0px 0px 15px 0px #d10f73;
    border: 3px solid #faf3f7;
    transition: all 0.5s;
   }



/* Shared styles for content div-
    img--h2--p */

.s2-content-img{
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.s2-content-h2{
  font-size: 20px;
  color: #0E0E0E;
  margin-bottom: 12px;
}

.s2-content-p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 24px;
}

/* styles for quote image */
.s2-img-quote{
  /* border: 2px solid #bd0379; */
}

.s2-img-quote img{
  width: 100%;
  height: 300px;
  border-radius: 16px;
  border: 1px solid #0E0E0E;
}

/* styles for section-3 */
.section-3{
  margin: 0px 160px 80px 160px;
  /* text-align: start; */
}

.table-div{
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.s3-table{
  border-collapse: collapse;
  width: 100%;

}
th{
  background-color: #C6E4D6;
  padding: 24px;
  font-size: 20px;
  font-weight: 600;
  text-align: start;

}
td{
  background-color: #FFFFFF;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  color: #0E0E0E;
  /* text-align: start; */
}

.td-l{
  text-align: left;
}
.td-r{
  text-align: center;
}

 td, table{
  border: 1px solid rgb(14, 14, 14, 30%);

}

.select-class{
  background-color: #C6E4D6;
  color: #0E0E0E;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 10px 14px;
  border-radius: 4px;
}

.select-class:hover{
  box-shadow: 0px 0px 30px 2px #fd6107;
}

/* styles for section-4 */
.section-4{
  margin: 0px 160px 80px 160px;
  /* text-align: start; */
}

 .section-4 h1{
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
 }

 #s4-p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 32px;
 }

 .s4-sub-container{
   
   display: flex;
   gap: 32px;
   padding: 48px;
   border-radius: 24px;
   background-color: #FFFFFF;
 }

 .margin-bottom-24{
   margin-bottom: 24px;
 }

 .content-h1{
  font-size: 32px;
  color: rgb(14, 14, 14, 80%);
  margin-bottom: 12px;
 }

 .content-img{
  width: 134px;
  height: 40px;     
  margin-bottom: 12px;
 }

 .content-time{
  font-size: 16px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 12px;
 }
 
 .content-p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 32px;
  text-align: justify;
 }

 .content-btn{
  padding: 13px 26px;
  background-color: #006A50;
  color: #FFFFFF;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
 }

 .content-btn:hover{
  box-shadow: 0px 0px 30px 0px #fd0720;
  background-color: rgb(34, 230, 8);

 }

 .s4-img img{
  border-radius: 24px;
  height: 100%;
  width: 408px;
 }
.s4-img{
  border: 2px solid #f41049;
  border-radius: 24px;
  /* width: 100%; */
  /* height: 100%; */

}
.date{
  margin-right: 20px;
}
/* section-4 end */

/* section-5 start */
.section-05{
  margin: 0px 160px 80px 160px;
  /* border: 1px solid #0E0E0E; */
  text-align: center;
  background-color: #c6e4d65b;
}

.section-05 h1{
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
  text-align: center;
}

.section-05 p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 32px;
  text-align: center;
}

.amount-container{
  padding: 0px 104px 32px  104px;
  /* border: 1px solid #0E0E0E; */
  display: flex;
  gap: 24px;
  /* align-items: center; */
  justify-content: space-between;
  max-width: 1070px;
}

.amount{
  /* flex: 1; */
  max-width: 264px;
  max-height: 128px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 16px;
  /* text-align: center; */
  white-space: nowrap;
  transition: all 0.5s;
  /* transform: scale(0.7); */
}

.amount:hover{
  box-shadow: 0px 0px 30px 2px #fd077e;
  /* background-color: rgba(34, 230, 8, 0.844); */
}

.amount p{
  
  color: rgb(14, 14, 14, 80%);
  font-weight: 700;
  /* word-spacing: 12px; */
  font-size: 40px;
}

.other-amount{
  margin: 0px 124px 32px  124px;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  color: rgb(14, 14, 14, 30%);
}

.donate-btn{
  padding: 17px 34px;
  background-color: #006A50;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.5s;
}

.donate-btn:hover{
  box-shadow: 0px 0px 30px 0px #fd0792;
  background-color: rgba(34, 230, 8, 0.844);
}

/* styles for section-06 start */
.section-06{
  margin: 0px 160px 80px 160px;
  border-radius: 24px;
  padding: 80px 100px;
  /* text-align: center; */
  background-color: #C6E4D6;
}

.section-06 h1{
  font-size: 40px;
  color: #0E0E0E;
  text-align: center;
}

.section-06 p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: center;
}

.s6-container{
  margin: 0 165px;
}
.subscribe{
  display: flex;
  align-items: center;
  /* justify-content: start; */
  width: 100%;
  max-width: 750px;
  max-height: 55px;
  margin-bottom: 24px;
  /* margin-left: 165px; */
}

.subscribe-input{
  width: 600px;
  /* height: 55px; */
  padding: 18px 40px; 
  border-radius: 15px 0px 0px 15px;
  background-color: #FFFFFF;
  color: rgb(14, 14, 14, 30%);
  font-size: 16px;
  text-align: start ;
  border: none;
}

.sub-btn{
  padding: 17px 34px;
  background-color: #006A50;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0px 15px 15px 0px;
  transition: all 0.3s;
  border: none;
}
.sub-btn:hover{
  box-shadow: 0px 0px 15px 2px #d10f73; 
  background-color: #07d53b;
}

.s6-p{
  color: rgb(14, 14, 14, 70%);
  font-size: 16px;
  text-align: center;
}

/* styles of footer */
.footer{
  background-color: #FFFFFF;
  padding: 50px 160px;
}

.footer-heading{
  font-size: 32px;
  color: #0E0E0E;
  margin-bottom: 32px;
  text-align: center;
}

.footer-container{
  margin: 32px 500px 30px 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
}

.img-div img{
  width: 24px;
  height: 24px;
}

.img-div{
  width: 100%;
  max-width: 24px;
  height: 100%;
  max-height: 24px;
}

.copyright{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.span-copyright{
  background-color: #10efa8;
  box-shadow: 0px 0px 8px 0px #d50707;

}

