/* Fira Sans font */
.body {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f5f5f5;
}

   /* Hover-Effect */
   .hover-effect:hover{
    background-color: #ea0a6b;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #1e2420;
    box-shadow: 0px 0px 15px 0px #1e2420;


}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px; 
    /* width: 100%; */
    /* margin-top: 50px; */
}


.nav-title{
  font-size: 32px;
  color: #0E0E0E;  
  transition: all 0.15s;
}
.nav-title:hover{
  color: #d82e2e;
  background-color: rgb(22, 184, 22);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 0px 15px 0px #c30101;
}

.nav-btn{
    /* border-radius: 8px; */
    color: #006A50;
    padding: 15px 30px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.5s;
}

/* Banner styles */

.banner{
  display: flex;
  position: static;
  max-width: 100%;
  gap: 64px;
  margin:32px 160px 0px 160px; 
  background-color: #C6E4D6;
  align-items: center;
  transition: box-shadow 0.5s;
  border-radius: 8px;
}
.banner:hover{
  box-shadow: 0px 0px 15px 0px #d10f30;
}


.banner-content{
  margin: 117px 0px 117px 60px;
  width: 100%;
}

.banner-title{
  font-weight: 500;
  font-size: 24px;
  color: #0e0e0e7c;
  margin-bottom: 16px;
}


.banner-descripton{
  font-size: 50px;
  font-weight: 700;
  color: #0E0E0E;
  margin-bottom: 24px;
  text-align: start;
}


.banner-btn{
  background-color: #006A50;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
}


.banner-img{
 margin: 80px 60px 80px 0px;
 width: 100%;
}
/* Banner completed */

/* styles for Section-1 starting */
.section-1{
  margin: 80px 160px ;
}

.section-1 h1{
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 32px;
}

.s1-container{
  display: flex;
  gap: 24px;

}

.s1-content{
  background-color: #FFFFFF;
  text-align: start;
  padding: 24px;
  border-radius: 16px;
}

.s1-content img{
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.s1-content h2{
  font-size: 20px;
  color: #1F0E0E;
  margin-bottom: 12px;
}

.s1-content p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
}

/* styles for Section-2 */
.section-2{
  margin: 0px 160px 80px 160px;
  text-align: start;
  /* padding: 10px; */
}

.section-2> h1{
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
}

.section-2>p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 32px;

}

.s2-container{     /* parent Div of section-2 */
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.s2-content-1{      /* Div -1 */
  padding: 32px;
  background-color: #548ff560;
  border-radius: 16px;

}
.s2-content-2{      /* Div -2 */
  padding: 32px;
  background-color: #C6E4D6;
  border-radius: 16px;

}
.s2-content-3{      /* Div -3 */
  padding: 32px;
  background-color: #F7EBCF;
  border-radius: 16px;
}

/* Button styles for Div of section-2 */
.div-1-btn{
  background-color: #5490F5;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
}

.div-2-btn{
  background-color: #09A15C;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
}

.div-3-btn{
  background-color: #FFC239;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
}

/* hover effect for section-2 buttons 
   with box shadow */
   .s2-btn-hover:hover{
    box-shadow: 0px 0px 15px 0px #d10f73;
    border: 3px solid #faf3f7;
    transition: all 0.5s;
   }



/* Shared styles for content div-
    img--h2--p */

.s2-content-img{
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.s2-content-h2{
  font-size: 20px;
  color: #0E0E0E;
  margin-bottom: 12px;
}

.s2-content-p{
  font-size: 16px;
  line-height: 24px;
  color: rgb(14, 14, 14, 70%);
  margin-bottom: 24px;
}

/* styles for quote image */
.s2-img-quote{
  /* border: 2px solid #bd0379; */
}

.s2-img-quote img{
  width: 100%;
  height: 300px;
  border-radius: 16px;
  border: 1px solid #0E0E0E;
}

/* styles for section-3 */
.section-3{
  margin: 0px 160px 80px 160px;
  /* text-align: start; */
}

.table-div{
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.s3-table{
  border-collapse: collapse;
  width: 100%;

}
th{
  background-color: #C6E4D6;
  padding: 24px;
  font-size: 20px;
  font-weight: 600;
  text-align: start;

}
td{
  background-color: #FFFFFF;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  color: #0E0E0E;
  /* text-align: start; */
}

.td-l{
  text-align: left;
}
.td-r{
  text-align: center;
}

 td, table{
  border: 1px solid rgb(14, 14, 14, 30%);

}

.select-class{
  background-color: #C6E4D6;
  color: #0E0E0E;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 10px 14px;
  border-radius: 4px;
}

.select-class:hover{
  box-shadow: 0px 0px 30px 2px #fd6107;
}

 
